# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/outputs/*.png
.env
backend/.env
venv/
node_modules/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db
